<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of cars</title>
    <style>
        table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Year</th>
        <th>Country</th>
        <th>Model</th>
    </tr>
    <tr th:each="car : ${carList}">
        <td th:text="${car.year}"></td>
        <td th:text="${car.country}"></td>
        <td th:text="${car.model}"></td>
    </tr>
</table>

</body>
</html>